<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <title>Quotes</title>
  <body>
    <div class="container-fluid">
      
      <div class="row ">
        <div class="col-md-6">
          <div >
            <header>Quotes</header>
            <h2 class="semiHead">Please share the funniest, most inspriring, wittiest or even down right rudest quotes, then, vote.</h2>
          </div>

          <form >
            <div class="form-group" >
                <label>Enter Your quote</label> <br>
                <textarea id="quote" class="form-control" rows="3" placeholder="quote..." #newQuote></textarea>
            </div>

            <div class="form-group" >
              <label>Said By :</label><br>
              <input class="form-control" type="text" name="author" placeholder="Who said it..." #newAuthor>
            </div>

            <div class="form-group" >
              <label>Submitted by :</label><br>
              <input class="form-control" type="text" name="submitter" placeholder="Your name please..." #newSubmitter>
            </div>

            <div>
            <input id="button" type="submit" class="btn btn-primary" name="submit" value="submit quote" (click)="addQuote( newQuote, newAuthor, newSubmitter)">
            </div>


          </form>



        </div>
        <div class="col-md-6">
        <app-quote *ngFor = "let quote of quotes" [quote]="quote"></app-quote>
        </div>

      </div>
    </div>
  </body>
</html>