@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton');


body{
	background-image: url('/assets/quotes.jpg');
	padding: 0; 
	margin:0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
}

label{
	font-size: 20px;
	color: white;
}

.fixed{
	position: fixed ;
}

#quote{
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

input, textarea{
    background: rgba(255,255,255,0.7);
}

#button{
  border:2px solid #b70038;
  font-size: 20px;
  overflow: hidden;
  background-color: #b70038;
  background-repeat:no-repeat;
  cursor:pointer;
  outline:none;
  color: white;
  height: 50px;
}

form{
    background-color: rgba(255,210,210,0.4);
    padding: 20px;
    border-radius: 10px;
}


header{
	color: white;
	text-align: center;
	font-size: 80px;
	font-family: 'Anton', sans-serif;
}

.semiHead{
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color: white;
	text-align: center;
}