@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton');


body{
	background-image: url('/assets/quotes.jpg');
	padding: 0; 
	margin:0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center;
	overflow-x:hidden;
}

label{
	font-size: 20px;
	color: white;
}

.fixed{
	position: fixed ;
	width: auto;
}

.quotes{
	margin-left: 50%;
    width: auto;
    position: relative;
    overflow: auto;
    margin-top: 30px;
}


#quote{
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

input, textarea{
    background: rgba(255,255,255,0.7);
}

#button{
  border:2px solid #a10038;
  font-size: 20px;
  overflow: hidden;
  background-color: #b70038;
  background-repeat:no-repeat;
  box-shadow: 30px solid grey ;
  cursor:pointer;
  outline:none;
  color: white;
  height: 50px;
}

form{
    background-color: rgba(255,210,210,0.4);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


header{
	color: white;
	text-align: center;
	font-size: 80px;
	font-family: 'Anton', sans-serif;
}

.semiHead{
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color: white;
	text-align: center;
}

/*@media only screen and (min-width:750px){
.fixed{
	position: fixed;
}

.quotes{
    width: auto;
    position: relative;
}

}
*/















