<!-- <div class="col-md-6">
 -->	<div class="row">
	 		<div class="jumbotron">

				<div class="col-md-3" style="">
					<h1>{{quote.votes}}</h1>
					<h2>Points</h2>
				</div>
				
				<div class="col-md-9">
					<div>
						<h3>{{quote.quote}}</h3>
						<i><h4>{{quote.author}}</h4></i>
						<h5>Submitted by {{quote.submitter}}</h5>
					</div>


						<ul class="col-md-8 list-inline text-center" style="margin-top: 10px;">
							<li><a href (click)="voteUp()" class="glyphicon glyphicon-arrow-up"> upvote </a></li><li><a href (click)="voteDown()" class="glyphicon glyphicon-arrow-down"> downvote </a></li>
		<!-- 					<li><a href (click)="delete()" class="glyphicon glyphicon-trash"> Delete </a></li>		 -->
						</ul>

				</div>
			</div>		
		</div>
	
<!-- </div> -->