@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

h3{
	font-family: 'Lobster', cursive;
	font-size:30px;
}

.jumbotron{
    margin: 10px;
    opacity: 0.7;
	width: 550px;
	padding: 3px;
}

h2, h1{
	font-family: 'Orbitron', sans-serif;
	margin-bottom: -1px;
}