<!-- <div class="col-md-6">
 -->	<div class="row">

		<div class="col-md-3">
			<h1>{{quote.votes}}</h1><br>
			<h2>Points</h2>
		</div>
		
		<div class="col-md-9">
			<div>
				<h3>{{quote.quote}}</h3>
				<h4>{{quote.author}}</h4>
				<h5>{{quote.submitter}}</h5>
			</div>


				<ul class="col-md-8 list-inline text-center">
					<li><a href (click)="voteUp()" class="glyphicon glyphicon-arrow-up"> upvote </a></li>

					<li><a href (click)="voteDown()" class="glyphicon glyphicon-arrow-down"> downvote </a></li>
					<li><a href (click)="delete()" class="glyphicon glyphicon-trash"> Delete </a></li>

				</ul>

		</div>
		
	</div>
	
<!-- </div> -->